@import "_mixins.scss";
@import "_config.scss";
@import "_grid.scss";

// html, body, .page-container, .page.container, .page > .row, .ctn_main-content, .main-content{
// 	height: 100%
// }

body{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
}
.no-visible-mobile{
	display: none;
}
.main-content{
	background-color: #ffffff;

}

/*--------------- $HEADER -------------*/
.header{
	background-color: $primary-color;
}
.ctn_logo{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	.logo{
		text-align: center;
		margin-right: 15px;
	}
}
.menu-item i._mi{
	width: 25px !important;
	text-align: center;
}

/*--------------- $MAIN CONTENT -------------*/
.main-content{
	padding: $ctn_padding;
}
.entry-header{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: yellow;
	height: 270px;
	h1{
		position: absolute;
		bottom: 0;
		margin: 0;
		padding: 5px 35px;
		background: rgba(0, 0, 0, 0.6);
		color: #ffffff;
	}
}
.entry-title{
	@include primary-font(300, 42)
}
.entry-content{
	margin-top: 280px;
}
.vc_custom_heading h2{
	margin: 0px;
}
.btn_primary{
	a{
		background-color: $primary-color !important;
		&:hover{
			background-color: darken($primary-color, 10%) !important;
		}
	}
}
.row-productos{
	.vc_gitem-link{
		color: #000000;
	}
	h3{
		margin-top: 0px;
	}
	.vc_grid-item-mini{
		&:hover{
			.vc_gitem-link{
				color: $primary-color;
				text-decoration: none;
			}
		}
	}
}

/*--------------- $FOOTER -------------*/
.ctn_footer{
	color: $secondary-color;
	text-align: center;
	padding: 10px;
	background: url(img/bg-footer-sm.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	a{
		color: $secondary-color;
		font-weight: 700;
		cursor: pointer;
	}
}
@import "_queries.scss";